.post-tags__search-container {
    width: 100%;
    position: relative;
}

.post-tags__search-bar {
    width: 100%;
    padding: 8px;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.post-tags__search-username-entry {
    font-weight: 600;
    color: var(--app-theme-color);
    margin-top: -0.5px;
}

.post-tags__search-input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-weight: var(--app-font-regular);
    color: var(--app-normal_text);
    font-family: var(--app-font);
    font-size: 16px;
    margin-left: 5px;
    margin-right: 15px;
}

.post-tags__delete-input {
    width: 15px;
    stroke: var(--app-generic-gray);
    cursor: pointer;
}

@media (max-width: 1004px) {
    .post-tags__search-input {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .post-tags__close-button {
        width: 12px;
    }

    .post-tags__search-input {
        font-size: 14px;
    }
}