.search-skeleton-page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 25px;
    padding-bottom: 20px;
}

@media (max-width: 1400px) {
    .search-skeleton-page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 692px) {
    .search-skeleton-page {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .search-skeleton-page {
        row-gap: 20px;
        column-gap: 10px;
    }
}