.skeleton-artwork__container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
}

.skeleton-artwork__image-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-right: 30px;
}

.skeleton-artwork__image {
    width: 100%;
    height: 100%;
    background-color: var(--app-image_template_color);
}

.skeleton-artwork__content {
    width: 560px;
    flex-shrink: 0;
    height: 100%;
    padding: 20px 0px;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
}

.skeleton-artwork__header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skeleton-artwork__header.--main {
    display: none;
}

.skeleton-artwork__back {
    width: 12px;
    box-sizing: content-box;
    padding: 7px;
    cursor: pointer;
    fill: var(--app-theme-color);
    margin-left: -7px;
    margin-right: 18px;
}

.skeleton-artwork__gallery-image {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 7%;
    background-color: var(--app-image_template_color);
    flex-shrink: 0;
    margin-right: 15px;
}

.skeleton-artwork__gallery-name, .skeleton-artwork__artwork-title {
    width: 176px;
    height: 12px;
    border-radius: 2px;
    background-color: var(--app-image_template_color);
}

.skeleton-artwork__label {
    width: 100%;
    padding: 12px;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    border-radius: 3px;
    border-top: 1.5px solid var(--app-theme-color);
    margin-bottom: 12px;
}

.skeleton-artwork__artist {
    width: 100%;
    display: flex;
    align-items: center;
}

.skeleton-artwork__artist-image {
    width: 41px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--app-image_template_color);
    margin-right: 10px;
    flex-shrink: 0;
}

.skeleton-artwork__artist-text-container {
    width: 100%;
}

.skeleton-artwork__small-text {
    height: 10px;
    border-radius: 2px;
    background-color: var(--app-image_template_color);
    margin-bottom: 7px;
}

.skeleton-artwork__small-text:last-child {
    margin-bottom: 0px;
}

.skeleton-artwork__artwork-title {
    margin: 10px 0px;
}

.skeleton-artwork__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.skeleton-artwork-button {
    width: 100%;
    height: 65px;
    border-radius: 4px;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
}

.skeleton-artwork-button.margin {
    margin-left: 28px;
}

.skeleton-artwork__thoughts {
    width: 100%;
    height: 0px;
    flex-grow: 1;
    border-radius: 4px;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    margin-top: 12px;
    overflow-y: auto;
    padding: 15px;
}

.skeleton-artwork__thoughts .skeleton-thought__container {
    margin-bottom: 20px;
}

.skeleton-artwork__thoughts .skeleton-thought__container:last-child {
    margin-bottom: 0px;
}

@media (max-width: 1450px) {
    .skeleton-artwork__content {
        width: 490px;
    }

    .skeleton-artwork__back {
        width: 11px;
    }

    .skeleton-artwork__gallery-image {
        width: 39px;
    }

    .skeleton-artwork-button {
        height: 60px;
    }

    .skeleton-artwork-button.margin {
        margin-left: 15px;
    }
}

@media (max-width: 1004px) {
    .skeleton-artwork__image-container {
        padding-right: 20px;
    }

    .skeleton-artwork__content {
        width: 430px;
    }

    .skeleton-artwork__header {
        margin-bottom: 14px;
    }

    .skeleton-artwork__gallery-image {
        width: 36px;
        margin-right: 12px;
    }

    .skeleton-artwork__label {
        padding: 10px;
    }

    .skeleton-artwork__artist-image {
        width: 37px;
        margin-right: 8px;
    }

    .skeleton-artwork__small-text {
        height: 9px;
    }

    .skeleton-artwork-button {
        height: 54px;
    }

    .skeleton-artwork-button.margin {
        margin-left: 11px;
    }

    .skeleton-artwork__thoughts {
        padding: 10px;
    }
}

@media (max-width: 900px) {
    .skeleton-artwork__container {
        max-width: 800px;
        flex-direction: column;
    }

    .skeleton-artwork__image-container {
        height: unset;
        flex-grow: 1;
        padding: 0px;
    }

    .skeleton-artwork__content {
        width: 100%;
        height: unset;
        display: block;
        padding: 11px;
        padding-top: 9px;
    }

    .skeleton-artwork__header {
        display: none;
        padding: 11px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .skeleton-artwork__header.--main {
        display: flex;
    }

    .skeleton-artwork__back {
        margin-right: 13px;
    }

    .skeleton-artwork__gallery-image {
        width: 33px;
        margin-right: 11px;
    }

    .skeleton-artwork__buttons {
        margin-top: 12px;
    }

    .skeleton-artwork__thoughts {
        display: none;
    }
}

@media (max-width: 550px) {
    .skeleton-artwork__gallery-image {
        width: 30px;
        margin-right: 10px;
    }

    .skeleton-artwork__back {
        width: 10px;
        margin-right: 8px;
    }

    .skeleton-artwork__artist-image {
        width: 30px;
    }

    .skeleton-artwork__small-text {
        height: 8px;
    }

    .skeleton-artwork-button {
        height: 47px;
    }

    .skeleton-artwork-button.margin {
        margin-left: 10px;
    }
}