.order-by-popup__container {
    width: 180px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.order-by-popup__selected-option {
    padding: 7px 0px;
    padding-left: 19px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    border-radius: 11px 11px 0px 0px;
    color: var(--app-normal_text);
    font-weight: 500;
    transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
}

.order-by-popup__selected-option svg {
    width: 11px;
    flex-shrink: 0;
    fill: var(--app-theme-color);
    margin-left: 7px;
    transition: transform 0.4s ease;
}

.order-by-popup__container.active .order-by-popup__selected-option {
    background: var(--app-options_background_blur);
    backdrop-filter: blur(7.5px);
}

.order-by-popup__container.active .order-by-popup__selected-option svg {
    transform: rotate(180deg);
}

.order-by-popup__options {
    width: 100%;
    background: var(--app-options_background_blur);
    backdrop-filter: blur(7.5px);
    border-radius: 0px 0px 11px 11px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.order-by-popup__container.active .order-by-popup__options {
    opacity: 1;
    pointer-events: all;
}

.order-by-popup__option {
    padding: 7px 0px;
    color: var(--app-normal_text);
    font-weight: var(--app-font-regular);
    cursor: pointer;
    text-align: end;
    padding-right: 26px;
    padding-left: 19px;
}

@media (max-width: 1004px) {
    .order-by-popup__container {
        width: 165px;
    }

    .order-by-popup__selected-option, .order-by-popup__option {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media (max-width: 550px) {
    .order-by-popup__container {
        width: 150px;
    }

    .order-by-popup__selected-option, .order-by-popup__option {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}