.artlist-options__container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.artlist-options__artlist-play {
    width: 49px;
    margin-right: 20px;
}

.artlist-options__artlist-like {
    width: 26px;
}

.artlist-options__threedots-container {
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
}

.artlist-options__threedots-icon {
    fill: var(--app-theme-color);
    display: inline-block;
    height: 23px;
    flex-shrink: 0;
}

.artlist-options__options {
    width: 221px;
    border: 1px solid var(--app-generic-gray);
    background-color: var(--app-options_background_blur);
    backdrop-filter: blur(11px);
    border-radius: 11px;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
    position: absolute;
    margin-top: 12px;
    left: 10px;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.artlist-options__options.active {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.artlist-options__option-icon {
    width: 24px;
    fill: var(--app-theme-color);
    flex-shrink: 0;
}

.artlist-options__option-icon.edit {
    width: 22px;
}

.artlist-options__share-artlist {
    width: 26px;
    fill: var(--app-theme-color);
    margin-left: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

@media (max-width: 1004px) {
    .artlist-options__container {
        margin-bottom: 20px;
    }

    .artlist-options__option-icon {
        width: 23px;
    }
    
    .artlist-options__option-icon.edit {
        width: 21px;
    }
}

@media (max-width: 650px) {
    .artlist-options__container {
        min-height: 40px;
        margin-bottom: 14px;
    }

    .artlist-options__artlist-play {
        width: 45px;
        margin-left: auto;
        margin-right: 0px;
        order: 1;
    }

    .artlist-options__artlist-like {
        width: 22px;
    }

    .artlist-options__threedots-container {
        position: absolute;
        top: 23px;
        right: 0;
    }

    .artlist-options__threedots-icon {
        height: 18px;
    }

    .artlist-options__options {
        width: 200px;
        left: unset;
        right: 10px;
    }

    .artlist-options__option-icon {
        width: 19px;
    }
    
    .artlist-options__option-icon.edit {
        width: 17px;
    }

    .artlist-options__share-artlist {
        width: 22px;
        margin-left: 14px;
    }
}