.artwork-view-add-to-artlist__container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: var(--app-card_background_more_visible);
    padding: 12px 15px;
    padding-top: 0px;
    border-radius: 8px;
}

.artwork-view-add-to-artlist__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0px;
}

.artwork-view-add-to-artlist__header-text {
    font-weight: 600;
    color: var(--app-normal_text);
}

.artwork-view-add-to-artlist__close {
    width: 13px;
    box-sizing: content-box;
    padding: 5px;
    stroke: var(--app-normal_text);
    position: absolute;
    right: -5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .artwork-view-add-to-artlist__container {
        padding: 11px;
        padding-top: 0px;
    }
}

@media (max-width: 550px) {
    .artwork-view-add-to-artlist__close {
        width: 12px;
    }
}