.search-non-image-category__container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.search-non-image-category__heading {
    display: block;
    font-weight: 600;
    color: var(--app-normal_text);
    margin-bottom: 10px;
}

.search-non-image-category__categories {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.search-non-image-category-item__container {
    width: 100%;
    min-width: 120px;
    margin-right: 12px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_inner_box_shadow);
    cursor: pointer;
    margin-bottom: 2px;
}

.search-non-image-category-item__container:last-child {
    margin-right: 0px;
}

.search-non-image-category-item__name {
    color: var(--app-generic-gray);
    font-weight: var(--app-font-regular);
}

@media (max-width: 1004px) {
    .search-non-image-category__heading {
        margin-bottom: 8px;
    }

    .search-non-image-category-item__container {
        height: 52px;
        margin-right: 10px;
    }
}

@media (max-width: 550px) {
    .search-non-image-category__container {
        margin-top: 15px;
        margin-bottom: 18px;
    }

    .search-non-image-category__heading {
        margin-bottom: 6px;
    }

    .search-non-image-category-item__container {
        height: 40px;
        margin-right: 7px;
    }
}