.privacy-policy-text__container {
    width: 100%;
}

.privacy-policy-text__heading {
    display: block;
    width: 100%;
    font-weight: 600;
    color: var(--app-theme-color);
    margin-bottom: 12px;
}

.privacy-policy-text__subheading {
    display: block;
    width: 100%;
    font-weight: 500;
    color: var(--app-generic-gray);
    margin-bottom: 8px;
}

.privacy-policy-text__text {
    color: var(--app-normal_text);
    font-weight: var(--app-font-regular);
    margin-bottom: 11px !important;
}

.privacy-policy-text__text.margin {
    margin-bottom: 20px !important;
}

.privacy-policy-text__list-item {
    color: var(--app-normal_text);
    font-weight: var(--app-font-regular);
}