.settings-change-password__form {
    width: 100%;
    margin-top: 20px;
}

.settings-change-password__heading {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-weight: 500;
    color: var(--app-normal_text);
    margin-bottom: 15px;
}

.settings-change-password__forgot {
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-left: auto; 
    font-weight: 600;
    color: var(--app-theme-color);
    margin-top: 7px;
}

.settings-change-password__form .public-full-width__button {
    margin-top: 20px;
}

.settings-change-password__success-text {
    margin-top: 20px;
}

@media (hover: hover) {
    .settings-change-password__forgot:hover {
        text-decoration: underline;
    }
}

@media (max-width: 700px) {
    .settings-change-password__form {
        margin-top: 15px;
    }

    .settings-change-password__heading {
        margin-bottom: 12px;
    }
}