.settings-forgot-password__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 7px;
}

.settings-forgot-password__container.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.settings-forgot-password__button {
    cursor: pointer;
    font-weight: 600;
    color: var(--app-theme-color);
}

.settings-forgot-password__spinner {
    width: 16px;
    margin-left: 7px;
    flex-shrink: 0;
}

.settings-forgot-password__success-text {
    margin-top: 10px;
}

@media (hover: hover) {
    .settings-forgot-password__button:hover {
        text-decoration: underline;
    }
}

@media (max-width: 550px) {
    .settings-forgot-password__spinner {
        width: 15px;
    }
}