.artwork-view-thoughts-loading__container {
    width: 100%;
    flex-grow: 1;
    height: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-y: auto;
    padding: 20px 13px;
}

@media (max-width: 1450px) {
    .artwork-view-thoughts-loading__container {
        padding: 15px;
        padding-top: 13px;
    }
}

@media (max-width: 1004px) {
    .artwork-view-thoughts-loading__container {
        padding: 10px;
    }
}