.home-header__container {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 15px;
    background-color: var(--app-page_background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 58px;
    z-index: 2;
}

.home-header__back-section {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.home-header__back-icon {
    width: 12px;
    box-sizing: content-box;
    fill: var(--app-theme-color);
}

.home-header__back-text {
    font-weight: 600;
    color: var(--app-normal_text);
}

.home-header__back-text.no-icon {
    margin-left: 8px;
}

.home-header__search-container {
    width: 53%;
    max-width: 800px;
    height: 40px;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    margin-left: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.home-header__search-icon {
    width: 23px;
    fill: var(--app-normal_text);
    flex-shrink: 0;
    margin-left: 7px;
    margin-right: 10px;
}

.home-header__search-input {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    font-family: var(--app-font);
    font-size: 15px;
    color: var(--app-normal_text);
    font-weight: var(--app-font-regular);
    border: none;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .home-header__container {
        top: 55px;
    }

    .home-header__search-container {
        height: 32px;
    }

    .home-header__search-icon {
        width: 19px;
    }
}

@media (max-width: 1004px) {
    .home-header__back-icon {
        width: 11px;
    }

    .home-header__search-input {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .home-header__container {
        top: 0px;
    }

    .home-header__container {
        display: block;
    }

    .home-header__search-container {
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }
}

@media (max-width: 550px) {
    .home-header__back-icon {
        width: 10px;
    }

    .home-header__search-input {
        font-size: 13px;
    }
}