.auth-forgot-password__heading {
    display: block;
    font-weight: 600;
    color: var(--app-theme-color);
    margin-bottom: 15px;
}

.auth-forgot-password__text {
    color: var(--app-normal_text);
    font-weight: var(--app-font-regular);
}

.auth-forgot-password__form {
    width: 100%;
}

.auth-forgot-password__input {
    margin-top: 12px;
    margin-bottom: 26px;
}

.auth-forgot-password__form .public-form-input__container {
    background-color: var(--app-page_background);
}

.auth-forgot-password__resend-button {
    font-weight: 600;
    color: var(--app-theme-color);
    cursor: pointer;
}

.auth-forgot-password__resend-button.disabled {
    color: var(--app-generic-gray);
    pointer-events: none;
}

.auth-forgot-password__resend-button.success {
    pointer-events: none;
}

.auth-forgot-password__success-text {
    margin-top: 20px;
}

@media (hover: hover) {
    .auth-forgot-password__resend-button:hover {
        text-decoration: underline;
    } 
}

