.drafts__container {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--app-card_background_less_visible);
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.drafts__container.go-back {
    cursor: pointer;
}

.drafts__drafts-enter-icon {
    fill: var(--app-theme-color);
    width: 12px;
    stroke: none;
}

.drafts__drafts-enter-icon.enter {
    position: absolute;
    right: 15px;
}

.drafts__drafts-enter-icon.back {
    margin-right: 10px;
    width: 10px;
    stroke-width: 0px;
}

.drafts__text {
    color: white;
}

.drafts__text.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
}

.drafts__remove-draft-button {
    fill: var(--app-theme-color);
    margin-right: 10px;
    width: 16px;
    cursor: pointer;
    flex-shrink: 0;
}

@media (max-width: 1004px) {
    .drafts__drafts-enter-icon {
        width: 12px;
        stroke: none;
    }
}

@media (max-width: 600px) {
    .drafts__drafts-enter-icon {
        width: 10px;
    } 

    .drafts__remove-draft-button {
        width: 14px;
    }
}
