.add-artwork-media-form__add-secondary-pictures-button-outter {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
}

.add-artwork-media-form__add-secondary-pictures-button-outter.internal {
    width: 100%;
    margin: 0px;
    padding: 0px 15px;
}

.add-artwork-media-form__add-secondary-pictures-button {
    width: 100%;
    height: 75px;
    background-color: var(--app-theme-background);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--app-theme-color);
}

.add-artwork-media-form__add-secondary-pictures-button-outter.internal .add-artwork-media-form__add-secondary-pictures-button {
    margin-top: 12px;
    height: 60px;
    margin-bottom: 12px;
}

.add-artwork-media-form__add-secondary-pictures-button.dragging {
    border: 1px solid var(--app-theme-color);
}



