.artlist-add-artworks__search-bar {
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    padding: 8px 10px;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.artlist-add-artworks__search-icon {
    width: 20px;
    flex-shrink: 0;
    fill: var(--app-generic-gray);
}

.artlist-add-artworks__search-input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-family: var(--app-font);
    font-weight: var(--app-font-regular);
    color: var(--app-normal_text);
    font-size: 16px;
    padding-left: 10px;
}

.artlist-add-artworks__artworks-container {
    width: 100%;
    flex-grow: 1;
    height: 0px;
    overflow: hidden;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    border-radius: 4px;
    margin-top: 14px;
}

.artlist-add-artworks__spinner {
    width: 24px;
    margin: 0 auto;
    margin-top: 15px;
}

.artlist-add-artworks__empty-text {
    font-style: italic;
    margin-top: 15px !important;
    text-align: center;
    color: var(--app-normal_text);
}

@media (max-width: 1004px) {
    .artlist-add-artworks__search-input {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .artlist-add-artworks__search-input {
        font-size: 14px;
    }

    .artlist-add-artworks__search-icon {
        width: 18px;
    }
}