.uploaded-artworks__drafts-container {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--app-card_background_less_visible);
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
}

.uploaded-artworks__drafts-enter-icon {
    fill: var(--app-theme-color);
    width: 12px;
    position: absolute;
    right: 15px;
    stroke: var(--app-card_background_less_visible);
    stroke: none;
}

.uploaded-artworks__draft-counter {
    color: white;
}

.uploaded-artworks__draft-counter .drafts-number {
    color: var(--app-generic-gray);
}

@media (max-width: 600px) {
    .uploaded-artworks__drafts-enter-icon {
        width: 10px;
    } 
}
