.admin-artwork-requests__loading-text {
    color: var(--app-normal_text);
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.admin-artwork-requests__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

.admin-artwork-requests__heading {
    color: var(--app-normal_text);
    margin-bottom: 30px;
}