.notification__page {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px 40px;
    display: flex;
    /* align-items: flex-start; */
}

@media (max-width: 1300px) {
    .search__filters {
        width: 225px;
        margin-right: 80px;
    }
}

@media (max-width: 1200px) {
    .search__sticky-main {
        top: 56px;
    }

    /* .search__filters {
        height: calc(100vh - 176px);
    } */
}

@media (max-width: 1004px) {
    .search__filters {
        width: 200px;
        margin-top: 115px;
        /* height: calc(100vh - 171px); */
    }
}

@media (max-width: 900px) {
    .search__page {
        padding: 0px 11px;
    }

    .search__filters {
        display: none;
    }

    .search__options-container.pre {
        padding-top: 10px;
    }

    .search__option {
        display: flex;
    }

    .search__option svg {
        width: 12px;
        margin-left: 7px;
        position: relative;
        top: 1px;
    }
}

@media (max-width: 650px) {
    .search__sticky-main {
        top: 0px;
    }
}

@media (max-width: 550px) {
    .search__option svg {
        width: 11px;
        margin-left: 5px;
    } 
}