.new-icons-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20, 35px);
    justify-content: "center";
    padding: 50px;
    column-gap: 20px;
}

.new-icons-grid__icon {
    fill: var(--app-theme-color);
}