.search-filters-content-size__container {
    width: 100%;
    margin-top: 4px;
}

.custom-size-choose {
    width: 88px;
    margin-top: 3px;
}

.custom-size-choose .choose-input__text {
    font-size: 13px !important;
}

.custom-size-dimensions__container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

/** Width and height input styles */
.custom-size-dimensions__inputs {
    width: 100px;
    flex-shrink: 0;
    margin-right: 30px;
}

.custom-size-dimensions__input-container {
    width: 100%;
}

.custom-size-dimensions__input-container:last-child {
    margin-top: 10px;
}

.custom-size-dimensions__input-header {
    color: var(--app-normal_text);
    font-weight: 500;
}

.custom-size-dimensions__input-box {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    border-radius: 5px;
    margin-top: 7px;
    padding-right: 10px;
}

.custom-size-dimensions__input {
    width: 100%;
    outline: none;
    border: none;
    background: none;
    padding: 5px 10px;
    font-size: 14px;
    font-family: var(--app-font);
    font-weight: var(--app-font-regular);
    color: var(--app-normal_text);
}

.custom-size-dimensions__input-unit {
    color: var(--app-normal_text);
    font-weight: 500;
}

/** Preview styles */
.custom-size-dimensions__preview-container {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-size-dimensions__preview {
    background-color: var(--app-theme-color);
}

/** Condition styles */
.custom-size-conditions {
    width: 100%;
    margin-top: 20px;
}

.custom-size-conditions .search-filters-category-item__select-display {
    width: 16px;
    margin-right: 8px;
}

.custom-size-conditions .search-filters-category-item__display-text {
    font-size: 13px !important;
}

/** Button styles*/
.custom-size-search-button {
    display: block;
    width: 100%;
    background-color: var(--app-theme-color);
    color: var(black);
    font-weight: 600;
    cursor: pointer;
    padding: 10px 0px;
    text-align: center;
    margin-top: 5px;
}

.custom-size-search-button.disabled {
    pointer-events: none;
    opacity: 0.3;
}

@media (max-width: 1300px) {
    .custom-size-dimensions__inputs {
        width: 80px;
        margin-right: 20px;
    }
}

@media (max-width: 1004px) {
    .custom-size-choose .choose-input__text {
        font-size: 12px !important;
    }

    .custom-size-dimensions__inputs {
        width: 75px;
    }

    .custom-size-dimensions__input {
        font-size: 13px;
    }

    .custom-size-conditions .search-filters-category-item__select-display {
        width: 15px;
    }

    .custom-size-conditions .search-filters-category-item__display-text {
        font-size: 12px !important;
    }
}

@media (max-width: 900px) {
    .custom-size-dimensions__preview-container {
        width: 120px;
    }

    .custom-size-dimensions__inputs {
        width: 90px;
    }

    .custom-size-choose .choose-input__container, .custom-size-dimensions__input-box {
        background-color: var(--app-bottom_sheet_fix);
    }

    .custom-size-choose .choose-input__option.active {
        background-color: var(--app-theme-color);
    }

    .custom-size-choose .choose-input__option.active .choose-input__text {
        font-weight: 600;
    }
}

@media (max-width: 550px) {
    .custom-size-choose .choose-input__text {
        font-size: 11px !important;
    }

    .custom-size-dimensions__input {
        font-size: 12px;
    }

    .custom-size-conditions .search-filters-category-item__select-display {
        width: 14px;
    }

    .custom-size-conditions .search-filters-category-item__display-text {
        font-size: 12px !important;
    }    
}