.guidelines-upload-artworks__container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding-top: 22px;
    padding-bottom: 50px;
}

.guidelines-upload-artworks__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 22px;
}

.guidelines-upload-artworks__suarte-name {
    display: block;
    margin: 0 auto;
    width: 124px;
}

.guidelines-upload-artworks__back-button {
    width: 11px;
    fill: var(--app-theme-color);
    box-sizing: content-box;
    padding: 7px;
    cursor: pointer;
    position: absolute;
    left: -7px;
}

.guidelines-upload-artworks__heading {
    font-size: 16px;
    font-family: var(--app-font);
    font-weight: 600;
    color: var(--app-theme-color);
    text-align: justify;
    hyphens: auto; 
    margin: 0px;
    margin-bottom: 12px;
    padding-top: 10px;
}

.guidelines-upload-artworks__sub-heading {
    font-size: 15px;
    font-family: var(--app-font);
    font-weight: 500;
    color: var(--app-generic-gray);
    text-align: justify;
    hyphens: auto; 
    margin: 0px; 
    margin-bottom: 8px;
}

.guidelines-upload-artworks__mini-heading {
    font-size: 17px;
    font-family: var(--app-font);
    font-weight: 600;
    color: white;
    text-align: justify;
    hyphens: auto; 
    margin: 0px;
    margin-bottom: 11px;
}

.guidelines-upload-artworks__mini-heading.margin {
    margin-bottom: 22px;
}


.guidelines-upload-artworks__text {
    font-size: 15px;
    font-family: var(--app-font);
    font-weight: var(--app-font-regular);
    color: white;
    text-align: justify;
    hyphens: auto; 
    margin: 0px;
    margin-bottom: 11px;
}


.guidelines-upload-artworks__text span {
    font-weight: 600;
    color: var(--app-theme-color);
    cursor: pointer;
}

.guidelines-upload-artworks__text.margin {
    margin-bottom: 18px;
}

.guidelines-upload-artworks__text.no-margin {
    margin-bottom: 0px;
}

.guidelines-upload-artworks__wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 22px;
    position: relative;
}

.guidelines-upload-artworks__section {
    width: 100%;
    padding: 0px 20px;
}

.guidelines-upload-artworks__separator {
    width: 100%;
    height: 1px;
    background-color:  var(--app-generic-gray);
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (hover: hover) {
    .guidelines-upload-artworks__text span:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1004px) {
    .guidelines-upload-artworks__heading {
        font-size: 15px;
    }
    
    .guidelines-upload-artworks__sub-heading {
        font-size: 14px;
    }
    
    .guidelines-upload-artworks__mini-heading {
        font-size: 16px;
    }

    .guidelines-upload-artworks__text {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .guidelines-upload-artworks__heading {
        font-size: 14px;
    }
    
    .guidelines-upload-artworks__sub-heading {
        font-size: 13px;
    }
    
    .guidelines-upload-artworks__mini-heading {
        font-size: 15px;
    }

    .guidelines-upload-artworks__suarte-name {
        width: 100px;
    } 

    .guidelines-upload-artworks__text {
        font-size: 13px;
    }
}