
.profile-info__display-location-container {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

.profile-info__display-location-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}

.profile-info__display-location-icon {
    flex-shrink: 0;
    fill: var(--app-theme-color);
    width: 12px;
    margin-right: 3px;
}

.profile-info__display-location-text {
    font-weight: 500;
    color: var(--app-generic-gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 550px) {
    .profile-info__display-location-icon {
        width: 10px;
    }
}