.profile-button__button {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
    border: 1px solid var(--app-theme-color);
    background-color: var(--app-theme-background);
    font-weight: 500;
    color: var(--app-theme-color);
    border-radius: 4px;
    padding: 5px 16px;
    flex-shrink: 0;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.profile-button__follow-button {
    margin: 0 auto;
    margin-top: 25px;
    padding: 4px 0px;
    width: 123px;
    margin-bottom: 20px;
}

@media (max-width: 550px) {
    .profile-button__follow-button {
        width: 110px;
    }
}