.multiple-select__container {
    width: 100%;
    background-color: var(--app-card_background_more_visible);
    box-shadow: var(--app-card_box_shadow);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.multiple-select__container.read-only {
    pointer-events: none;
}

.multiple-select__label {
    width: 100%;
    display: block;
    font-size: 15px;
    font-family: var(--app-font);
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: var(--app-generic-gray);
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.multiple-select__selected-options-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.multiple-select__selected-options {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-family: var(--app-font);
    font-size: 16px;
    font-weight: var(--app-font-regular);
    color: var(--app-normal_text);
    line-height: 22px;
    letter-spacing: -0.408px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 10px;
    cursor: pointer;
    margin: 0px;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiple-select__open-options-container {
    padding-right: 10px;
    padding-left: 5px;
    flex-shrink: 0;
}

.multiple-select__open-options {
    width: 14px;
    fill: var(--app-theme-color);
    cursor: pointer;
    transition: transform 0.4s ease;
}


.multiple-select__options-container {
    min-width: 100%;
    width: fit-content;
    position: absolute;
    top: 105%;
    left: 0;
    background-color: var(--app-card_background_more_visible);
    border-radius: 5px;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    border: 1px solid var(--app-options_border);
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: none;
    overscroll-behavior-y: contain;
    pointer-events: none;
}

.multiple-select__options-container::-webkit-scrollbar {
    display: none;
}

.multiple-select__container.active .multiple-select__open-options {
    transform: rotate(180deg);
}

.multiple-select__container.active .multiple-select__options-container {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateY(0);
}

.multiple-select__option {
    width: 100%;
    padding: 5px;
    padding: 5px 14px;
    font-family: var(--app-font);
    font-size: 15px;
    font-weight: var(--app-font-regular);
    color: var(--app-normal_text);
    cursor: pointer;
    text-align: center;
    margin: 0px;
}

.multiple-select__option:hover {
    background-color: var(--app-option_hover);
}

.multiple-select__option.selected {
    background-color: var(--app-theme-background);
    font-weight: 500;
}


@media (max-width: 1004px) {
    .multiple-select__selected-options {
        font-size: 15px;
    }

    .multiple-select__label, .multiple-select__option {
        font-size: 14px;
    }

    .multiple-select__label {
        padding-top: 6px;
    }

    .multiple-select__selected-options {
        padding-bottom: 6px;
        padding-top: 2px;
    }
}

@media (max-width: 500px) {
    .multiple-select__selected-options {
        font-size: 14px;
    }

    .multiple-select__label, .multiple-select__option {
        font-size: 13px;
    }
}
