.notification__content {
  background: transparent;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.notification__content.active {
  background: var(--app-theme-background);
}

.notification__content p {
  color: white;
  margin: 0px;
}

.notification__content b {
  color: rgb(244, 0, 145);
}

.notification__content i {
  font-style: italic;
}

.notification__content img {
  width: 47px;
  height: 47px;
}

.subject {
  border-radius: 50%;
  margin-right: 10px;
}

.object {
  float: right;
  margin-left: 20px;
}

.instance {
  margin: 0px;
  margin-right: 20px;
  margin-left: 10px;
  width: calc(100% - 124px);
}

.notification__content .btn {
  border: 2px solid rgb(255, 0, 151);
  background: rgba(255, 0, 151, 0.5);
  color: rgb(255, 0, 151);
  float: right;
}

.notification__content .btn.active {
  background: rgb(255, 0, 151);
  color: black;
}