.notification__content {
  background: transparent;
  padding: 10px 20px;
  height: 67px;
  width: 100%;
}

.notification__content.active {
  background: var(--app-theme-background);
}

.notification__content p {
  color: white;
}

.notification__content b {
  color: rgb(244, 0, 145);
}

.notification__content i {
  font-style: italic;
}

.notification__content img {
  width: 47px;
  height: 47px;
}

.notification__content .avaimg {
  border-radius: 50%;
}

.notification__content .instance {
  margin: 0px;
  margin-right: 20px;
  margin-left: 10px;
}

.notification__content .btn {
  border: 2px solid rgb(255, 0, 151);
  background: rgba(255, 0, 151, 0.5);
  color: rgb(255, 0, 151);
}

.notification__content .btn.active {
  background: rgb(255, 0, 151);
  color: black;
}